*{
    box-sizing: border-box;
}

body{
    margin: 0 125px 0 125px;

}
/*Styling for overall tags such as headings, grid creation, img adjustments etc*/
h1{
    grid-column: 1/ span 12;
    text-align: center;
}


img{
    object-fit: cover;
    width: 100%;
}

    /*Grid Layout and Span styles*/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.four_col_span{
    grid-column: span 4;
}

.six_col_span{
    grid-column: span 6;
}

/*Nav Bar and Header*/
/* Add a black background color to the top navigation */



/*Logo And NAV grid*/
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.logo{
    margin-right: 50px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label{
    display: none;
}


@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
/* Hero Section Styling*/
.hero{
    grid-column: 3 / 11;
    text-align: center;
}

/* Form Styling */
form {
    grid-column:4/10;
    background-color: #45a049;
    padding: 10px;
    border-radius: 10px;
}

.form-group {
    text-align: center;
    padding: 5px;

}


label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    grid-column: span 12;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #45a049;
}






/*Our Work Section Styling*/



/*Main Services Styling*/


/*About Us*/

.span_col_3_11{
    grid-column: 3 / 11;
}



/*Contact Us styling Section*/
.form{
    grid-column: 3/11;
}

.contact_p{
    grid-column: 1/ span 12;
    text-align: center;
}


form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-group {
    flex-direction: row;
    margin: 0 10px 20px 0;
    width: 50%;

}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/*Footer*/
footer{
    display: flex;
}







