html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0 125px 0 125px;
    font-family: 'Playfair Display', serif;
    background: rgb(251,255,177);
    background: linear-gradient(0deg, rgba(251,255,177,1) 25%, rgba(255,235,180,1) 40%, rgba(255,191,169,1) 75%, rgba(255,172,172,1) 100%);

}
/*Styling for overall tags such as headings, grid creation, img adjustments etc*/
h1{
    grid-column: 1/ span 12;
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 4rem;
    margin: 0;

}

img{
    object-fit: cover;
    width: 100%;
}

    /*Grid Layout and Span styles*/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-bottom: 5rem;
}

.four_col_span{
    grid-column: span 4;
}

.six_col_span{
    grid-column: span 6;
}

/*Nav Bar and Header*/

/*Logo And NAV grid*/
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-family: 'Playfair Display', serif;
    font-size: 1.50rem;
    padding: 20px;

}

.navbar a{
    text-decoration: none;
    color: inherit;

}

.logo{
    margin-right: 50px;
    font-family: 'Style Script', cursive;
    font-size: 1.70rem;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label{
    display: none;
}

/* Hero Section Styling*/

.hero p{
    font-size: 1.5rem;
    padding: 1em;
    width: 75%;

}

.hero{
    grid-column: 3 / 11;
    text-align: center;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0px;
}


.welcome-h1{
    font-size: 5vw;
}


/*Main Services Styling*/
h4{
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
    padding-top: 0;
}

/*About Us*/
.about_us_sect{
    text-align: center;
}

.about_us_sect img{
    width: 50%;
    border-radius: 50%;
}

.about_us_sect p{
    font-size: 1.2rem;
    line-height: 2;
}
.about-p1{
    padding: 2rem;
    padding-bottom: 0;
}

.about-p2{
    padding: 2rem;

}

.span_col_3_11{
    grid-column: 3 / 11;
}


/*Contact Us styling Section*/
.form{
    grid-column: 3/11;
}

.contact_p{
    grid-column: 1/ span 12;
    text-align: center;
    font-size: 1.35rem;
}

/* Form Styling */
form {
    grid-column:4/10;
    background-color:#FFEBB4;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.25rem;
}

.form-group {
    text-align: center;
    padding: 10px;
    width: 100%;


}


label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: center;
    font-size: 1.2rem;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    grid-column: span 12;
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    width: 25%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/*Footer*/
footer{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.follow{
    text-decoration: none;
    font-family: 'Style Script', cursive;
    font-size: 2rem;
    padding-top: 10px;
    padding-right: 10px;
    color: #000;
    font-weight: bold;
}



/*Media Query Stylings*/

/*Media Query styling for 1028W*/
@media screen and (max-width: 1028px){
    body{
        margin: 0 75px 0 75px;
    }

    /*Nav Bar Changes*/
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }

    h4{
        font-size: 1.25rem;
    }


}

@media screen and (max-width: 1280px){
    .hero{
        grid-column: 1/13;
    }

    .about-us-p{
        grid-column: 1/13;
    }

   form{
       grid-column: 3/11 ;

   }
}

@media screen and (max-width: 768px){
    .welcome-h1{
        font-size: 5vw;
    }

    .four_col_span{
        grid-column: span 6;
    }

    .center{
        grid-column: 4/10;
    }

/*About Us Styling*/
    .span_col_3_11{
        grid-column: 1/13;
    }

    .about_us_sect p{
        font-size: 1rem;
    }
    
    .about_us_sect img{
        width: 75%;
    }

/*Contact Us*/
    .contact_p{
        font-size: 1.15rem;
    }


    form{
       grid-column: 2/12;
        font-size: 1.15rem;
    }

    input,
    select,
    textarea{
        font-size:1.15rem ;
    }

    button[type="submit"]{
        font-size: 1.15rem;
        width: 50%;
    }


}

@media screen and (max-width:440px) {
    body{
        margin: 0 25px 0 25px;
    }

    h1{
        font-size: 2.25rem;
    }
/*NavBar Styling*/
    .navbar{
        font-size: 1rem;
    }

/*Hero Styling*/
    .welcome-h1{
        font-size: 9vw;
    }

    .hero p {
        font-size: 1rem;
    }



/*Our Work*/
    .four_col_span{
        grid-column: span 12;
    }

    .six_col_span{
        grid-column: span 12;
    }

/*Main Services*/

/*About Us*/
    .span_col_3_11{
        grid-column: span 12;
    }

   

/*Contact Us*/
    .contact_p{
        font-size: 1.15rem ;
    }

    form{
        grid-column: 2/12;
        font-size: 1rem;

    }

    input,
    select,
    textarea {
        padding: 5px;
        border-radius: 4px;
        font-size: 1rem;
    }

    textarea {
        height: 50px;
    }

    button[type="submit"] {
        padding: 5px 10px;
        font-size: 1rem;
        width: 50%;
    }

    .label{
        width: 75%;
    }

    .follow{
        font-size: 1.6rem;
    }

}   






