/*Title Styling*/


/*Container and Table Formatting*/
.container{
    
    display: flex;
    flex-wrap: wrap;
    
    
}

tr{
    width: 100%;
}

.catergory{
    width: 50%;
    padding: 15px;

}
table{
    width: 100%;
}

h2{
 padding: 10px;;  
 background-color: rgba(255, 255, 255, 0.3);;
 border-radius: 50px 50px 50px 50px;
}

.product{
    width: 90%;
    font-size: 1.5rem;
    padding: 10px;
}

.price{
    font-size: 1.5rem;
    padding: 10px;
}

/*Media Queries*/

@media screen and (max-width: 1028px){
    body{
        margin: 0 75px 0 75px;
    }

    /*Nav Bar Changes*/
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }

    
}

@media screen and (max-width: 768px){

    h2{
        font-size: 1.2rem;
    }

    .product{
        font-size: 1.15rem;
    }
    
    .price{
        font-size: 1.15rem;
    }
}

@media screen and (max-width:440px) {
    .catergory{
        width: 100%;
        padding: 15px;
    
    }
}